.table {
  border-collapse: collapse;
  width: 100%;
}

.tableTitles {
  background-color: rgb(1, 16, 29);
  color: rgb(17, 189, 140);
  font-size: 1.2rem;
  font-weight: 800;
  height: 75px;
  width: 100%;
}

.tableBody {
  background-color: #def7ec;
  color: rgb(1, 16, 29);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.btnDelete {
  background-color: rgb(1, 16, 29);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  color: rgb(17, 189, 140);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 30px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
