.header {
  align-items: center;
  background-color: rgb(1, 16, 29);
  color: rgb(17, 189, 140);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.headerLogo {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.headerLogo > img , .headerInfo > img {
  height: 40px;
  width: 40px;
}

.headerLogo > h1 {
  color: rgb(17, 189, 140);
  font-family: var(--font);
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
}

.headerInfo {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}
